.btn-primary {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px; 
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #333;
  }

  .alert-danger {
    animation: fadeOut 3s 5s forwards;
  }

h1 {
  font-size: 3rem;
  font-weight: normal;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}